/***** COLORS *****/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tiertiary: #99E2D0;
$color-background: #f6f6f6;
$color-font-white: #fff;
$color-font-black: #000;
$color-icon-step: #7e7e7e;
$color-chip: #008766;
$color-chip-background: #99e2d0;
$color-footer-background: #353535;
$color-card-background: #fff;
$color-location-background: #eaeaea;

/***** PADDING *****/
$p-container: 2.5rem 1.5rem;

/***** BREAKPOINTS *****/
$breakpoints: (
  tablet-sm: 768px,
  tablet-lg: 980px,
  desktop: 1024px,
  desktop-xl: 1230px
  );
