/***** BASE *****/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: initial;
}

img {
  max-width: 100%;
  height: auto;
}

.red {
  color: #8e0112;
}
