.menu {
  position: relative;
  margin: -5rem auto 0;
  max-width: 1230px;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  z-index: 2;
  background-color: $color-background;

  &-container {
    padding: 2rem 1.5rem;
  }

  &__title {
    @include flexbox(initial, space-between, center);

    h2 {
      font-size: 1.7rem;
    }
  }

  &__icon {
    position: unset;
    font-size: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;

    &:after {
      position: relative;
    }
  }

  &__order {
    padding: 1rem 0;
    text-align: center;
  }

  &__list {
    @include flexbox(initial, space-between, initial, wrap);

    .menu-section {
      width: 100%;
      margin-top: 1.5rem;

      @media screen and (min-width: map-get($breakpoints, desktop)) {
        width: 32%;
      }

      &__title {
        margin: .5rem 0;
        font-size: 1rem;
        font-weight: lighter;

      }

      &__underline {
        margin: 0;
        width: 3rem;
        height: .25rem;
        background-color: $color-tiertiary;
      }

      &__details {
        margin: 1rem 0;

        .detail-card {
          @include flexbox;
          padding: 1rem;
          margin-bottom: 1rem;
          border-radius: 1.2rem;
          opacity: 0;
          box-shadow: 0px 2px 10px 0 rgb(0 0 0 / 20%);
          transition: all 0.2s ease;
          overflow: hidden;
          cursor: pointer;

          &:hover {
            box-shadow: 0px 2px 10px 0 rgb(0 0 0 / 40%);

            .detail-card__validation {
              margin-right: -1rem;

              .check-icon {
                transform: rotate(360deg);
              }
            }
          }

          &__text {
            flex: 1;
            @include ellipsis-text;
          
            h3{
              margin: 0 0 .3rem 0;
              @include ellipsis-text;
            }

            p {
              margin: 0;
              @include ellipsis-text;
            }
          }

          &__price {
            @include flexbox(column, flex-end);
            margin: 0 1rem;
            
            span {
              font-weight: bold;
            }
          }

          &__validation {
            @include flexbox(initial, center, center);
            margin: -1rem -6rem -1rem 0;
            width: 5rem;
            background-color: $color-tiertiary;
            transition: .3s;

            .check-icon {
              font-size: 1.7rem;
              color: $color-font-white;
              transform: rotate(0);
              transition: .3s .05s;
            }
          }
        }

        .item-1 {
          @include menu-animation(0s);
        }

        .item-2 {
          @include menu-animation(0.1s);
        }

        .item-3 {
          @include menu-animation(0.2s);
        }

        .item-3bis {
          @include menu-animation(0.25s);
        }

        .item-4 {
          @include menu-animation(0.3s);
        }

        .item-5 {
          @include menu-animation(0.4s);
        }

        .item-6 {
          @include menu-animation(0.5s);
        }

        .item-7 {
          @include menu-animation(0.6s);
        }

        .item-8 {
          @include menu-animation(0.7s);
        }

        .item-9 {
          @include menu-animation(0.8s);
        }
      }
    }
  }
}
