* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
ul {
  margin: 0;
  padding: 0;
}

li {
  @include flexbox(initial, initial, center);
  list-style: none;
}

a {
  text-decoration: none;
}