.banner {
  &__img {
    width: 100%;
    height: auto;
    margin: 0;

    img {
      width: 100%;
      min-height: 20rem;
      max-height: 30rem;
      object-fit: cover;
    }
  }
}